In [1]:
import pandas
dataset = pandas.read_csv('pima-indians-diabetes.csv')

In [2]:
dataset

      0    1   2   3    4     5      6   7  8
0     6  148  72  35    0  33.6  0.627  50  1
1     1   85  66  29    0  26.6  0.351  31  0
2     8  183  64   0    0  23.3  0.672  32  1
3     1   89  66  23   94  28.1  0.167  21  0
4     0  137  40  35  168  43.1  2.288  33  1
..   ..  ...  ..  ..  ...   ...    ...  .. ..
763  10  101  76  48  180  32.9  0.171  63  0
764   2  122  70  27    0  36.8  0.340  27  0
765   5  121  72  23  112  26.2  0.245  30  0
766   1  126  60   0    0  30.1  0.349  47  1
767   1   93  70  31    0  30.4  0.315  23  0

[768 rows x 9 columns]

In [3]:
dataset.head(5)

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [10]:
y = dataset["8"]

In [12]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: 8, Length: 768, dtype: int64

In [13]:
X = dataset[["0","1","2","3","4","5","6","7"]]

In [14]:
X

      0    1   2   3    4     5      6   7
0     6  148  72  35    0  33.6  0.627  50
1     1   85  66  29    0  26.6  0.351  31
2     8  183  64   0    0  23.3  0.672  32
3     1   89  66  23   94  28.1  0.167  21
4     0  137  40  35  168  43.1  2.288  33
..   ..  ...  ..  ..  ...   ...    ...  ..
763  10  101  76  48  180  32.9  0.171  63
764   2  122  70  27    0  36.8  0.340  27
765   5  121  72  23  112  26.2  0.245  30
766   1  126  60   0    0  30.1  0.349  47
767   1   93  70  31    0  30.4  0.315  23

[768 rows x 8 columns]

In [16]:
from keras.models import Sequential

In [17]:
model = Sequential()

In [18]:
model.get_config()

{'name': 'sequential', 'layers': []}

In [21]:
from keras.layers import Dense

In [23]:
model.add(
    Dense(units=5,
          input_shape=(8,),
          kernel_initializer='zeros',
          bias_initializer='zeros',
          activation="relu",
          ))

In [24]:
model.get_config()

{'name': 'sequential',
 'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 8),
    'dtype': 'float32',
    'sparse': False,
    'ragged': False,
    'name': 'dense_input'}},
  {'class_name': 'Dense',
   'config': {'name': 'dense',
    'trainable': True,
    'batch_input_shape': (None, 8),
    'dtype': 'float32',
    'units': 5,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}}]}

In [25]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 45

=================================================================
Total params: 45
Trainable params: 45
Non-trainable params: 0
_________________________________________________________________

In [26]:
model.add(
    Dense(units=4,
          kernel_initializer='zeros',
          bias_initializer='zeros',
          activation="relu",
          ))

In [27]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 45

 dense_1 (Dense)             (None, 4)                 24

=================================================================
Total params: 69
Trainable params: 69
Non-trainable params: 0
_________________________________________________________________

In [28]:
model.add(
    Dense(units=1,
          kernel_initializer='zeros',
          bias_initializer='zeros',
          activation="sigmoid",
          ))

In [32]:
model.get_layer()

ValueError: Provide either a layer name or layer index at `get_layer`.

In [34]:
model.compile(optimizer="adam", loss="binary_crossentropy")

In [35]:
model.fit(X,y)

24/24 [==============================] - 1s 1ms/step - loss: 0.6915